tests
modules
node_modules
.babelrc
.gitignore
circle.yml
coveralls.yml
coverage
migrations
.env*
.nyc_output
.git
_*
models
obremap.config.js
.github
.github/*

## EXCEPTS
!dist/cli/migrations
!dist/cli/models