// THIS MIGRATION FILE WAS CREATED BY OBREMAP CLI
import { Schema } from '@moccacoders/node-obremap';
/*
	Model Name: `#__MODEL_NAME__#`
	Database Table: `#__TABLE_NAME__#`
*/

export default class #__MODEL_NAME__# {
	/**
	 * Run the migrations.
	 * @return void
	 */
	up() {
		#__UP__#
	}

	/**
	 * Reverse the migrations.
	 * @return void
	 */
	down() {
		#__DOWN__#
	}
}